@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .header-item {
    @apply p-4 rounded-xl border border-neutral-800 bg-zinc-800/30 font-medium tracking-wide hover:border-neutral-600 hover:bg-zinc-800/85;
  }

  .card-pokemon {
    @apply flex flex-col items-center p-4 gap-6 w-full rounded-3xl bg-slate-300/5 border border-white/15 hover:border-white/35 hover:cursor-pointer hover:bg-slate-300/15 transition duration-200 ease-in-out;
  }

  .button-404 {
    @apply flex flex-col items-end;

    &:hover {
      .icon-chevron {
        @apply opacity-100 mr-2;
      }

      .under {
        @apply w-7/12;
      }
    }
  }

  .chip-type {
    @apply flex gap-3 items-center justify-center border rounded-full bg-slate-300/5 border-white/15 p-3;
  }
}
